@import "tailwindcss";
@config "../tailwind.config.js";

@theme {
  --color-slate-50: #f8fafc;
  --color-slate-900: #0f172a;
}

@layer base {
  @font-face {
    font-family: 'LGEI Headline';
    src: url('./assets/fonts/LGEIHeadlineTTF-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'LGEI Text';
    src: url('./assets/fonts/LGEITextTTF-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  body {
    background-color: var(--color-slate-50);
    color: var(--color-slate-900);
    font-family: 'LGEI Text', sans-serif;
  }
}

@layer utilities {
  :root {
    /* Light Mode Flash Colors */
    --flash-warning-from: #fef3c7; /* amber-100 */
    --flash-warning-to: #fbbf24;   /* amber-400 */
    
    --flash-danger-from: #fee2e2;  /* red-100 */
    --flash-danger-to: #f87171;    /* red-400 */
    
    --flash-anomaly-from: #f3e8ff; /* purple-100 */
    --flash-anomaly-to: #c084fc;   /* purple-400 */
  }

  .dark {
    /* Dark Mode Flash Colors (Inverted/Darker) */
    --flash-warning-from: #1e293b; /* slate-800 (Card Bg) */
    --flash-warning-to: #78350f;   /* amber-900 */
    
    --flash-danger-from: #1e293b;  /* slate-800 */
    --flash-danger-to: #7f1d1d;    /* red-900 */
    
    --flash-anomaly-from: #1e293b; /* slate-800 */
    --flash-anomaly-to: #581c87;   /* purple-900 */
  }
}